{% extends 'layout.html' %}
{% block body %}
<div class="main">
        <div class="details">
            <h1>iNotes</h1>
            <p>Welcome to our platform where we keeps your notes and reminders. Launch the system and ensure the
                important notes are stored!
            </p>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <ul class="list-group list-group-flush list">
                <li class="list-group-item">Login or Signup with Us</li>
                <li class="list-group-item">Enjoy Your Service</li>
                <li class="list-group-item">Rate Us!</li>
            </ul>
        </div>
        <a href="/service" class="btn btn-style">Launch</a>
    </div>
{% endblock %}